USE [master]
GO
/****** Object:  Database [ING_SGUniversidad]    Script Date: 04/10/2022 03:22:06 p. m. ******/
CREATE DATABASE [ING_SGUniversidad]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ING_SGUniversidad', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\ING_SGUniversidad.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ING_SGUniversidad_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\ING_SGUniversidad_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ING_SGUniversidad].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ING_SGUniversidad]
GO
/****** Object:  Table [dbo].[Department]    Script Date: 04/10/2022 03:22:06 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Department](
	[DepartmentId] [int] IDENTITY(1,1) NOT NULL,
	[DepartmentName] [nvarchar](500) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 04/10/2022 03:22:06 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[EmployeeId] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeName] [nvarchar](500) NULL,
	[Department] [nvarchar](500) NULL,
	[DateOfJoining] [datetime] NULL,
	[PhotoFileName] [nvarchar](500) NULL
) ON [PRIMARY]
GO
USE [master]
GO
